@import "tailwindcss";

#root {
  background-color: #F1ECE6;
  height: 100vh;
}

@theme {
  --color-marromEscuro: #70462D;
  --color-offwhite: #F8F7F5;
  --color-bege: #E5DED7;
  --color-marrom: #8B6A52;
}
